@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'Press Start 2P', cursive;

}


main {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    margin: 0 0 3px;
    background-color: rgba(255, 255, 255, 0.40);
    border-radius: 8px;

}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;

}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid #ee1a1a;
    border-radius: 5px;
    transition: all 600ms ease;

}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 15px auto;
    background-color: rgba(255, 255, 255, 0.40);
    padding: 20px;
    border-radius: 4px;

}

.front {
    transform: rotatey(180deg);
}

.back {
    background-image: url('../assets/back.jpg');
    backface-visibility: hidden;

}

.reveal-card {
    transform: rotateY(180deg);
}

.disable-card {
    filter: saturate(0);
    opacity: 0.5;
}


span {

    background-image: linear-gradient(to right top, #ff8500, #ff7600, #ff6600, #ff5400, #ff3e00, #ff3800, #ff3100, #ff2900, #ff3800, #ff4400, #ff4f00, #ff5800);
    padding: 7px;
    border-radius: 8px;
    text-align: center;
    margin-inline: 5px;
    width: 600px;

}

button {

    background-image: linear-gradient(to right top, #ff8500, #ff7600, #ff6600, #ff5400, #ff3e00, #ff3800, #ff3100, #ff2900, #ff3800, #ff4400, #ff4f00, #ff5800);
    padding: 7px;
    border-radius: 8px;
    text-align: center;
    margin-inline: 5px;
    margin-inline: 10px;
    box-shadow: #222222 3px 3px 3px;

    &:hover {

        transform: scale(1.1);

    }

}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

#tempo {

    background-image: linear-gradient(to bottom, #ffff00, #fff400, #ffea00, #ffdf00, #ffd500, #ffc900, #ffbe00, #ffb200, #ffa200, #ff9200, #ff8000, #ff6e00);
    color: rgb(30, 30, 30);
    border-radius: 8px;
    padding: 10px;

}